$primary_color: rgba(115, 128, 71, 1);
$primary_color_300: rgba(164, 179, 117, 1);
$primary_color_100: rgba(223, 228, 206, 1);

$grey_color_100: rgba(255, 255, 255, 1);
$grey_color_300: rgba(197, 197, 197, 1);
